<div class="container">

  <div class="map" #mapContainer></div>

  <div class="bottom-center" *ngIf="!isLoading">
    <div class="mode-select" *ngIf="mode.value$ | async as modeValue">
      <button (click)="mode.set('view')" [disabled]="modeValue === 'view'">View</button>
      <button (click)="mode.set('edit')" [disabled]="modeValue === 'edit'">Edit</button>
    </div>
  </div>

</div>

<div class="modal-container">

  <div class="backdrop" *ngIf="showEditModal"></div>

  <div class="modal" *ngIf="showEditModal">
    <div>{{editModalMessage}}</div>
    <div class="actions">
      <button (click)="makeEditModalChoice('apply')">Apply</button>
      <button (click)="makeEditModalChoice('revert')">Revert</button>
      <button (click)="makeEditModalChoice('cancel')">Cancel</button>
    </div>
  </div>

</div>

<div class="loader" *ngIf="isLoading">
  <div class="symbol"><div>❂</div></div>
  <div class="message">{{loadingMessage}}</div>
</div>

<div class="sync-prompt" *ngIf="unsavedChanges && mode.get() === 'view'">
  <div>
    <button (click)="sync()">Sync</button>
    <span>There are unsaved changes!</span>
  </div>
</div>

<div class="test" *ngIf="!unsavedChanges && mode.get() === 'view'">
  <div>
    <button (click)="test()">Test</button>
  </div>
</div>