
@mixin absolute($top: 0, $left: 0, $right: 0, $bottom: 0) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.container {
  width: 100%;
  height: 100%;

  >.map {
    @include absolute();
  }

  >.bottom-center {
    @include absolute(unset, 0, 0, 0);
    @include flex();
  }
}

.mode-select {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  >button {
    position: relative;
    background: white;
    padding: 8px;
    border: 1px solid gray;
    border-left-style: none;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      border-left-style: solid;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

}

.modal-container {
  @include absolute();
  @include flex();
  pointer-events: none;

  >.backdrop {
    @include absolute();
    background: #222222c4;
  }

  >.modal {
    z-index: 1000;
    pointer-events: all;
    background: #222222;
    color: #f3f3f3;
    padding: 12px;
    border-radius: 3px;
    min-width: 100px;
    min-height: 50px;

    >.action {
      @include flex();
    }
  }
}

.loader {
  @include absolute();
  @include flex();
  background: #222222de;
  z-index: 10000;

  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  >.symbol {
    @include absolute();
    @include flex();

    >div {
      font-size: 72px;
      margin: 5px;
      color: rgba(255, 255, 255, 0.116);
      animation: spin 4s linear infinite;
    }
  }

  >.message {
    color: white;
  }
}

.sync-prompt {
  @include absolute(0, 0, unset, unset);
  padding: 10px;

  >div {
    padding: 5px;
    background: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    color: white;
    
    >button {
      margin-right: 10px;
    }
  }
}

.test {
  @include absolute(0, 0, unset, unset);
  padding: 10px;

  >div {
    padding: 5px;
    background: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    color: white;
  }
}